@{
    ViewData["Title"] = "Confirm Email";
}

<h1>Email Confirmation</h1>

@if (ViewData["Success"] != null)
{
    <div class="alert alert-success">
        <p>@ViewData["Success"]</p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>@ViewData["Success"]</p>
    </div>
}
