@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="display-4 text-center text-primary">Registration Confirmation</h4>
    </div>

    <div class="row card-body">
        <p>
            Thank you for registering! A confirmation email has been sent to your email address. Please check your inbox (and spam/junk folder) for the confirmation link.
        </p>
        <p>
            Once you confirm your email you will be able to log in to your account.
        </p>
    </div>
    <div class="card-footer text-center">
        <a href="/Account/Login" class="btn btn-primary">Go to Login</a>
    </div>
</div>
