@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>Registration Confirmation</h1>

<p>
    Thank you for registering! A confirmation email has been sent to your email address. Please check your inbox (and spam/junk folder) for the confirmation link.
</p>

<p>
    Once you confirm your email, admin you approve your request and you will be able to log in to your account.
</p>

<p>
    <a href="/Account/Login">Go to Login</a>
</p>
