@{
    ViewData["Title"] = "Payment Successful, your package number is: //generate package number// + //add appropriate background//";
}
<h1>Payment Successful!</h1>
<a href="/request-package-delivery" class="btn btn-primary">Back to Order Page</a>