@model List<ApplicationUser>

@{
    ViewData["Title"] = "UsersWithoutOffice";
    var isOfficeAssistant = User.IsInRole("Office assistant");
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin || isOfficeAssistant)
{
    <div id="userList">
    @if (Model == null || !Model.Any())
    {
        <p>No users available to add as employees</p>
    }
    else
    {
        <ul>
            @foreach (var user in Model)
            {
                <li>
                    <input type="checkbox" name="selectedUserId" value="@user.Id" />
                    @user.Name (@user.Email)
                </li>
            }
        </ul>
    }
</div>

}
else
{
    {
        var url = Url.Action("Users", "Account");
    }
    <script>
        window.location.href = "url";
    </script>

}