@model OfficeEmployeesViewModel

@{
    ViewData["Title"] = "Add Employees";
    var isOfficeAssistant = User.IsInRole("Office assistant");
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    @if (Model == null)
    {
        <p>No users available to add as employees</p>
    }
    else
    {
    <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="display-4 text-center text-primary">Add Employees</h4>
            </div>
   
            <div class="row card-body">
                <div class="col-md-8 offset-md-2">
                    <form asp-action="AddEmployees">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" for="officeId" id="officeId" name="officeId" value="@Model.SelectedOfficeId" />

                        <div class="form-section">
                            <div class="mt-3">
                                <input type="radio" id="courier" name="selectedRole" value="Courier"  @(Model.SelectedRole == "Courier" ? "checked" : "") /> <label for="courier">Courier</label>
                                <input type="radio" id="officeassistant" name="selectedRole" value="Office assistant" @(Model.SelectedRole == "Office assistant" ? "checked" : "") /> <label for="Officeassistant">Office assistant</label>
                            </div>
                        </div>

                        <div class="form-section">
                            <label for="userId">Add Employees</label>
                            @if (Model != null && Model.Users != null && Model.Users.Any())
                            {
                                @await Html.PartialAsync("_UsersWithoutOffice", Model.Users)
                                ;
                            }

                            <div class="card-footer text-center">
                                @if (Model != null && Model.Users != null && Model.Users.Any())
                                {
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                }
                                <a asp-action="Index" class="btn btn-secondary">
                                    <i class="fas fa-list"></i>Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
     </div>
    }
}
else
{
    {
        var url = Url.Action("Users", "Account");
    }
    <script>
        window.location.href = "url";
    </script>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('input[name="selectedRole"]').change(function () {
                var officeId = $('#officeId').val();
                var selectedRole = $(this).val();


                $.ajax({
                    url: '@Url.Action("LoadUsersWithoutOffice", "Office")',
                    type: 'GET',
                    data: { officeId: officeId, selectedRole: selectedRole },
                    success: function (data) {
                        $('#userList').html(data);
                    },
                    error: function () {
                        alert('Error loading users without office assigned.');
                    }
                });
            });
        });
    </script>
}