@model OfficeViewModel

@{
    ViewData["Title"] = "Office creation";
    var isOfficeAssistant = User.IsInRole("Office assistant");
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="display-4 text-center text-primary">Office creation</h4>
    </div>

    <div class="row card-body">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ContactInfo" class="control-label"></label>
                        <input asp-for="ContactInfo" class="form-control" />
                        <span asp-validation-for="ContactInfo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WorkingHours" class="control-label"></label>
                        <input asp-for="WorkingHours" class="form-control" />
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>

                    <div class="card-footer text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-list"></i>Cancel
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>
}
else
{
    {
        var url = Url.Action("Users", "Account");
    }
    <script>
        window.location.href = "url";
    </script>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
